@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.listing-cards-wrapper{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
}
.listing-card{
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -8px 16px 27px -13px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 16px 27px -13px rgba(0,0,0,0.52);
    box-shadow: -8px 16px 27px -13px rgba(0,0,0,0.52);
    
    
}
.card-image-holder{
    height: 50%;
    background-image: url('/assets/houses/house-one.jpg');
    background-size: cover;
}
.card-info-holder{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-info-holder p{
    margin-top: 14px;
    font-size: 12px;
    color: #a1a1a1
}
.card-info-holder h2 {
    font-family: 'Ubuntu', sans-serif;
    color:#404040;
    font-weight: bold;
    margin-top: 10px;
}
.card-button{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 123, 42);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    cursor: pointer;
    position: relative;
    top: -15px;
    left: 30%;
    -webkit-box-shadow: 2px 12px 11px -6px rgba(0,0,0,0.52);
-moz-box-shadow: 2px 12px 11px -6px rgba(0,0,0,0.52);
box-shadow: 2px 12px 11px -6px rgba(0,0,0,0.52);
}
#two{
    background-image: url('/assets/houses/house-two.jpg');
    background-size: cover;
}
#three{
    background-image: url('/assets/houses/house-three.jpg');
    background-size: cover;
}
#four{
    background-image: url('/assets/houses/house-four.jpg');
    background-size: cover;
}
#five{
    background-image: url('/assets/houses/house-five.jpg');
    background-size: cover;
}
#six{
    background-image: url('/assets/houses/house-six.jpg');
    background-size: cover;
}
  

@media (max-width:800px){
    .listing-cards-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(400px, auto);
        gap: 20px;
        
    }
}

@media (max-width:660px){
    
    .listing-cards-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .listing-card{
        height: 400px;
        width: 60%;
        background-size: cover;
    }
    .card-button{
        position: relative;
        left: 35%;
    }
}

@media (max-width: 500px){
    .listing-cards-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .listing-card{
        height: 400px;
        width: 60%;
        background-size: cover;
    }
    .card-button{
        position: relative;
        left: 28%;
    }
}